
.container {
    background-color: rgb(62, 249, 255);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  input[type="text"], button {
    margin: 10px;
    padding: 5px;
    background-color: grey;
  }
  
  #randomName {
    margin-top: 20px;
    font-size: 1.5em;
  }
  